:root {
  --primary-color: hsl(228, 12%, 48%);
  --background-color: hsl(30, 38%, 92%);
  --card-background: hsl(0, 0%, 100%);
  --title-font: "Fraunces", serif;
  --font: "Montserrat", sans-serif;
  --price-color: hsl(158, 36%, 37%);
  --title-color: hsl(212, 21%, 14%);
  --button-hover: hsl(158, 32%, 30%);
}
